.posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.post-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    // height: 150px;
    overflow: hidden;


    p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}